
<div id="content">
	<h1>Settings</h1>

	<div class="clearfix">
		
		<div class="article">

		</div>

		<div id="aside">
			<p class="pl2">&gt;<%= link_to 'Topic: ' + @topic.title, topic_posts_path(@topic.id) %></p>
			<br />
			<% unless @latest_posts.empty? %>
			<h2 class="usf">Latest posts:</h2>
			<div class="indent">
				<% for post in @latest_posts %>
				<p class="pl ul">
					<%= link_to post.title, topic_post_replies_path(@topic.id, post.id) %>
					<span class="pl"><%= post.user.login %></span>
				</p>
				<% end %>
			</div>
			<% end%>
		</div>
		<div id="extra">
	
		</div>
	</div>
</div>