<h1>New reply</h1>

<% form_for :reply, @reply, :url => {:action => "create"} do |f| %>
  <%= f.error_messages %>
  <Label for "reply_text"> Text: </Label>
  <%= f.text_area :text %> <br/>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', topic_post_replies_path(@topic.id, @post.id) %>
