*{
	margin:0;padding:0;
}
element.style {
	clear: both;
}
body{
	font:12px/1.6 Verdana, Arial, Helvetica, sans-serif;	
	color:#555;
	background-color:#FFF;
	text-align:center;
}
h1,h2,h3{
	font:bold 12px/1.6 Verdana, Arial, Helvetica, sans-serif;
}
body, td, th {
	font: 12px/162% Arial,Helvetica,sans-serif;
}
ul {
	list-style: none outside none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	cursor: pointer;
}
a:link {
	color: #336699;
	text-decoration: none;
}
a:visited {
	color: #666699;
	text-decoration: none;
}
a img {
	border-width: 0;
}
fieldset img {
	border: 0 none;
}
form {
	border: 0 none;
	margin: 0;
	padding: 0;
}
input {
	font-size: 12px;
	margin-right: 3px;
}
#wrapper{
	width: 950px; 
	margin:5px auto;
	text-align:left;
}

.top-nav{
	border-bottom: 1px dashed #d4d4d4;
	clear: both;
	color: #d4d4d4;
	height: 30px;
	width: 100%;
	margin-bottom: 20px;
}
.top-nav .bd {
	margin: 0 auto;
	width: 950px;
}
.top-nav-info {
	float: right;
	margin-top: 5px;
}
.top-nav a:link, .top-nav a:hover, .top-nav a:active {
	color: #566d5e;
}
.top-nav-info a {
	margin-left: 10px;
}
.top-nav-items{
	float: left;
	font-size: 12px;
	margin-top: 3px;
}
.top-nav-items li {
	display: inline;
	float: left;
	margin: 2px 20px 0 0;
}
.top-nav li.on, .top-nav li.on a:link, .top-nav li.on a:visited, .top-nav li.on a:active {
	color: #219a44;
	font-weight: 800;
}
#aside{
	float: right;
	width: 310px;
}
#header{
	background: none repeat scroll 0 0 transparent;
	margin: 0 0 40px;
	width:100%;
}
.site-nav{
	clear: both;
	height: 36px;
	width: 100%;
}
.site-nav-logo {
	padding-top: 3px;
	float: left;
	position: relative;
}
.site-nav-logo a:hover, .site-nav-logo a:active, .site-nav-logo a {
	background: none repeat scroll 0 0 transparent;
}
.site-nav-logo img {
	margin-bottom: -3px;
}
#db-nav-main .bd {
	background-color: #e9f4e9;
	width: 85%;
}
.site-nav .bd {
	float: right;
	height: 36px;
}
#db-nav-main .nav-srh, #content .nav-srh {
	float: right;
	height: 36px;
}
#db-nav-main .nav-srh form, #content .nav-srh form {
	height: 36px;
	background: none repeat scroll 0 0 transparent;
}
.nav-srh form {
	padding: 0 1px 0 0;
}
#db-nav-main .nav-srh .inp, #content .nav-srh .inp {
	width: 300px;
}
.nav-srh .inp {
	padding-top: 5px;
}
#db-nav-main .nav-srh input, #content .nav-srh input {
	height: 24px;
	width: 264px;
}
#content .nav-srh {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	border: 1px dashed;
}
#content .nav-srh h2 {
	float: left;
	font-size: 16px;
	margin-top: 6px;
	padding-left: 5px;
}
#content .nav-srh form {
	float: right;
}
.nav-srh input {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #a6d098;
	float: left;
	line-height: 26px;
	padding: 0 2px;
	width: 300px;
}
#db-nav-main .nav-srh .bn-srh, #content .nav-srh .bn-srh {
	background-position: -190px -100px;
	margin-left: -4px;
	overflow: hidden;
	text-indent: -100px;
	width: 27px;
	height: 26px;
}
.nav-srh .bn-srh {
	background: url("http://t.douban.com/pics/nav/ui_ns_sbg4.png") no-repeat scroll -190px -100px transparent;
	border: medium none;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: 3px;
	padding: 1px 0 3px 3px;
	text-align: center;
}
.site-nav-items {
	color: #d4d4d4;
	float: left;
	line-height: 36px;
	padding-left: 28px;
}
#db-nav-main .site-nav-items li {
	background: none repeat scroll 0 0 transparent;
	color: #e9f4e9;
	margin-right: 30px;
	float: left;
}
#db-nav-main .site-nav-items li a {
	margin: 0;
}
.site-nav-items li a:link, .site-nav-items li a:active, .site-nav-items li a:hover, .site-nav-items li a:visited {
	color: #0c7823;
	font-size: 14px;
	margin-left: 14px;
	vertical-align: middle;
}
#footer{
	margin-top: 40px;
	margin-bottom: 15px;
	color: #999999;
	float: left;
	width: 100%;
	overflow: auto;
	border-top: 1px dashed #DDDDDD;
}
#footer-items{
	float: right;
}
#footer-rights{
	float: left;
}
#topics {
	width:100%;
}
.welcome {
	clear: both;
	width:100%;
	height: 143px;
	background: #E9EEF2;
	margin-bottom: 20px;
}
.welcome .reg {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E9EEF2;
	color:#666666;
	float:left;
	font-size:14px;
	height:134px;
	line-height:1.6;
	position:relative;
	width:400px;
}
.welcome .login {
	padding-left: 5px;
	float: right;
	margin-left: 5px;
}
.welcome .reg strong {
	float:left;
	font-size:24px;
	height:80px;
	padding-top:46px;
	text-align:center;
	width:200px;
}
.welcome .reg div {
	padding:22px 0 18px;
}
.welcome .reg. b {
	font-size:16px;
	font-weight:400;
	margin-right:5px;
}
a.link-reg:link, a.link-reg:visited, a.link-reg:hover, a.link-reg:active {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:green; 
	color:#FFFFFF;
	display:inline-block;
	font-size:12px;
	height:27px;
	line-height:28px;
	text-align:left;
	width:130px;
	text-decoration: none;
}
.welcome .reg .link-reg strong {
	color:#FFFFFF;
	float:none;
	font-size:16px;
	font-weight:400;
	margin:0 10px 0 16px;
	padding:0;
}

.welcome .login {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E9EEF2;
	float:right;
	font-size:14px;
	height:134px;
	width:300px;
}
.clearfix {
	display: block;
}
.article {
	float: left;
	padding-right: 40px;
	width: 590px;
}
#content {
	min-height: 420px;
}
h1 {
	color: #494949;
	display: block;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.1;
	margin: 0;
	padding: 0 0 15px;
}
h2 {
	color: #006600;
	font: 14px/150% Arial,Helvetica,sans-serif;
	margin: 0 0 12px;
}
h3 {
	color: #666666;
	font: 14px/150% Arial,Helvetica,sans-serif;
	margin-bottom: 1px;
	margin-left: 4px;
	height: 26px;
}
table {
	border: medium none;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border-spacing: 0;
}
.topic-content .topic-doc {
	float: right;
	margin-bottom: 30px;
	width: 520px;
}
.topic-content .topic-doc h3 {
	background: none repeat scroll 0 0 transparent;
	height: auto;
	margin: 0;
	padding: 5px 0;
}
.color-green {
	color: #006600;
}
.pl20 {
	padding-left: 20px;
}
.infobox {
	margin-bottom: 20px;
	table-layout: fixed;
	width: 100%;
}
.tablelt {
	background: url("http://t.douban.com/pics/ibox.gif") repeat scroll 0 0 transparent;
	height: 3px;
	width: 3px;
}
.tablect {
	background: url("http://t.douban.com/pics/tablev.gif") repeat scroll 0 0 transparent;
	height: 3px;
}
.tablert {
	background: url("http://t.douban.com/pics/ibox.gif") repeat scroll right top transparent;
	height: 3px;
	width: 3px;
}
.tablelc {
	background: url("http://t.douban.com/pics/tableh.gif") repeat scroll 0 0 transparent;
	width: 3px;
}
.tablecc {
	background: none repeat scroll 0 0 #FFF6EE;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 6px;
}
.tablerc {
	background: url("http://t.douban.com/pics/tableh.gif") repeat scroll right center transparent;
	width: 3px;
}
.tablelb {
	background: url("http://t.douban.com/pics/ibox.gif") repeat scroll 0 bottom transparent;
	height: 3px;
	width: 3px;
}
.tablecb {
	background: url("http://t.douban.com/pics/tablev.gif") repeat scroll left bottom transparent;
	height: 3px;
}
.tablerb {
	background: url("http://t.douban.com/pics/ibox.gif") repeat scroll right bottom transparent;
	height: 3px;
	width: 3px;
}
.topic-content .topic-doc p {
	margin: 0;
	overflow: hidden;
	padding: 0;
	word-wrap: break-word;
}
.topic-reply li {
	margin: 0 0 20px 48px;
	clear: both;
}
.topic-content .user-face, .topic-reply .user-face {
	float: left;
	height: 48px;
	width: 48px;
	overflow: hidden;
}
.topic-reply .reply-doc {
	float: right;
	width: 473px;
	margin: 0;
	padding: 0;
}
.bg-img-green {
	background: url("http://t.douban.com/pics/topicbar.gif") no-repeat scroll 0 0 transparent;
	display: block;
}
.topic-reply .reply-doc h4 {
	height: 22px;
	line-height: 22px;
	margin: 0 0 15px 4px;
	overflow: hidden;
	color: #666666;
}
.topic-reply .reply-doc p {
	margin: 0 0 25px;
	overflow: hidden;
	word-wrap: break-word;
}
.pl2 {
	color: #666666;
	font: 14px/150% Arial,Helvetica,sans-serif;
}
.aside .indent {
	margin-bottom: 25px;
}
.ul {
	border-bottom: 1px dashed #DDDDDD;
	clear: both;
	line-height: 100%;
}
.pl {
	color: #666666;
	word-wrap: break-word;
	font: 12px/150% Arial,Helvetica,sans-serif;
}
.css1 {
	font-size: 1.0em;
}
.css2 {
	font-size: 1.2em;
}
.css3 {
	font-size: 1.4em;
}
.css4 {
	font-size: 1.6em;
}
.olt {
	margin-bottom: 3px;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}
.olt td {
	border-bottom: 1px dashed #DDDDDD;
	padding: 3px 3px 3px 5px;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.olt td.time {
	color: #999999;
	padding-right: 0;
	text-align: right;
	width: 110%;
}
.olt .author {
	width: 80px;
}
.olt .time {
	width: 80px;
}
.olt .count {
	width: 50px;
}
.olt .topic {
	width: 150px;
}
.no-order a {
	margin-left: 8px;
	word-wrap: break-word;
}
.xbar {
	background: url("http://t.douban.com/pics/zbar.gif") no-repeat scroll 0 0 transparent;
	float: right;
	margin-bottom: 20px;
	width: 100%;
}
.xbar div {
	background: url("http://t.douban.com/pics/zbar.gif") no-repeat scroll right top transparent;
	float: right;
	margin-left: 5px;
	padding-right: 35px;
}
.xbar a {
	display: block;
	float: right;
	line-height: 14px;
	margin: 5px 5px 1px;
	padding: 3px 5px 2px;
	text-decoration: none;
}
.xbar span.now {
	background: url("http://t.douban.com/pics/wztab.gif") no-repeat scroll right top transparent;
	display: block;
	float: right;
	margin: 0 5px;
	padding: 0 10px 0 0;
}
.xbar span.now span {
	background: url("http://t.douban.com/pics/wztab.gif") no-repeat scroll 0 0 transparent;
	display: block;
	padding: 6px 1px 5px 11px;
}
.m {
	color: #006600;
	font-size: 14px;
	line-height: 120%;
}
#db-usr-profile {
	margin-bottom: 2em;
	overflow: hidden;
	width: 100%;
}
#db-usr-profile .pic {
	float: left;
	margin-right: 10px;
}
#db-usr-profile .info {
	float: left;
}
#db-usr-profile h1 {
	border-bottom: 1px dashed #CCCCCC;
	margin-bottom: 5px;
	padding: 0 0 5px;
}
#db-usr-profile .info ul li {
	display: inline;
	margin-right: 1em;
}
.groupicon {
	padding-right: 10px;
}
.pil {
	height: 48px;
	width: 48px;
}
.cate-mod {
	clear: both;
	margin-bottom: 30px;
	width: 100%;
}
.cate-mod .list {
	background: url("http://t.douban.com/pics/nav/ui_b_1.png") no-repeat scroll 0 0 #F6F5F5;
	border-bottom: medium none;
	padding-left: 10px;
}
.cate-mod .list ul {
	background: url("http://t.douban.com/pics/nav/ui_b_1.png") no-repeat scroll 100% 0 transparent;
	height: 25px;
}
.cate-mod .list li.on {
	background: url("http://t.douban.com/pics/nav/ui_b_1.png") no-repeat scroll 0 -40px #FFFFFF;
	bottom: -1px;
	position: relative;
	z-index: 1;
}
.cate-mod .list li {
	float: left;
	height: 22px;
	line-height: 23px;
	margin-top: 3px;
	padding-left: 4px;
}
.cate-mod .content {
	border: 1px solid #EFEEED;
	clear: both;
	height: 630px;
	position: relative;
}
.cate-mod .item {
	left: 20px;
	position: absolute;
	top: 23px;
	width: 95%;
}
.cate-mod .sub-item {
	border-bottom: 1px dashed #AAAAAA;
	float: left;
	height: 72px;
	margin: 0 2px 15px 0;
	overflow: hidden;
	width: 49%;
}
.cate-mod .sub-item .pic {
	display: table-cell;
	padding-right: 1em;
	vertical-align: top;
}
.cate-mod .sub-item .pic img {
	margin-bottom: -3px;
}
.cate-mod .sub-item .info {
	color: #666666;
	display: table-cell;
	vertical-align: top;
	word-wrap: break-word;
}
.cate-mod .sub-item p {
	margin: 0 20px 0 0;
}
.obu {
	display: inline;
	float: left;
	margin: 0 0 10px;
	width: 76px;
}
.obu dt {
	height: 50px;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	text-align: center;
}
.obu dd {
	height: 55px;
	margin: 0;
	overflow: hidden;
	text-align: center;
}
.zbar {
	background: url("http://t.douban.com/pics/zbar.gif") no-repeat scroll 0 0 transparent;
	margin-bottom: 21px;
}
.zbar div {
	background: url("http://t.douban.com/pics/zbar.gif") no-repeat scroll right top transparent;
	float: left;
	margin-left: 5px;
	padding-left: 2px;
}
.zbar span.now {
	background: url("http://t.douban.com/pics/wztab.gif") no-repeat scroll right top transparent;
	display: block;
	float: left;
	margin: 0 5px;
	padding: 0 10px 0 0;
}
.zbar span.now span {
	background: url("http://t.douban.com/pics/wztab.gif") no-repeat scroll 0 0 transparent;
	display: block;
	padding: 6px 1px 5px 11px;
}
.zbar a {
	display: block;
	float: left;
	line-height: 14px;
	margin: 5px 5px 1px;
	padding: 3px 5px 2px;
	text-decoration: none;
}
.paginator {
	text-align: center;
}



