*{
	margin:0;padding:0;
}
body{
	font:12px/1.6 Verdana, Arial, Helvetica, sans-serif;	
	color:#555;
	background-color:#FFF;
	text-align:center;
}
h1,h2,h3{
	font:bold 12px/1.6 Verdana, Arial, Helvetica, sans-serif;
}
a:link{
	color:#3068B5;
}
a:visited{
	color:#333;
}
a:hover,a:focus,a:active{
	color:#fe6100;
}
#wrapper{
	width: 950px; 
	margin:5px auto;
	text-align:left;
}

#top-nav{
	float: left;
	border-bottom: 1px dashed;
	width: 100%;
}
#top-nav-items{
	float: left;
}
#top-nav-user{
	float: right;
}
/*
#content{
	float: left;
	width: 590px;
}*/
#sidebar{
	float: right;
/*	width:24%;*/
	width: 310px;
}
#aside{
	float: right;
	width: 310px;
}
#header{
	float: left;
	height:68px;
	width:100%;
	border-bottom: 1px dashed;
}
#logo{
	float: left;
	padding:10px 50px 10px 0px;
}
#search{
	float: right;
	padding:20px 10px 1px 15px 
}

legend.hide{
	display: none;
}

#search fieldset{
	border:0;
	text-align:center;
}
#main{
	width: 100%;
	float: left;
	padding:5px 0;
}
#footer{
	float: left;
	width: 100%;
	height: 50px;
	border-top: 1px dashed;
}
#footer-items{
	float: right;
}
#footer-rights{
	float: left;
}
.postList{
	table-Layout:fixed;
	width:100%;
	margin:0 0 5px;
}
.postList caption{
	padding:3px 8px;
	background-color: blue;
	border-top:2px #BBB solid;
	text-align:left;
}
.postList caption strong{
	float:left;
	color: #fff;
}
.postList caption a{
	color: white;
}
.postList caption a{
	float:right;
}
.postList th{
	background: #ECECEC;
}
.postList tbody td{
	line-height:2em;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	padding:0 0.5em;
}
* html .postList tbody td a{
	white-space:nowrap;
}
*+html .postList tbody td a{
	white-space:nowrap;
}
.postList tbody .postLine0 td{
	background: #ECECEC;
}
.postList .date{
/*	width:25em; */
	font-size:11px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color:#666;
}
#topTen,#latest{
	margin:10px 0 0;
}
#topTen h3,#latest h3{
	padding:3px 8px;
	background-color:#ececec;
	border-top:2px #BBB solid;
	text-align:left;
}

#topTen li,#latest li{
	margin-left:2.2em;
}
#topTen li span,#latest li span{
	font-size:10px;
}
#topics {
	width:100%;
}
.welcome {
	clear: both;
	width:100%;
	height: 143px;
	background: #E9EEF2;
	border-bottom: 1px dashed;
}
.welcome .reg {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E9EEF2;
	color:#666666;
	float:left;
	font-size:14px;
	height:134px;
	line-height:1.6;
	position:relative;
	width:400px;
}
.welcome .login {
	padding-left: 5px;
	float: right;
}
.welcome .reg strong {
	float:left;
	font-size:24px;
	height:80px;
	padding-top:46px;
	text-align:center;
	width:200px;
}
.welcome .reg div {
	padding:22px 0 18px;
}
.welcome .reg. b {
	font-size:16px;
	font-weight:400;
	margin-right:5px;
}
a.link-reg:link, a.link-reg:visited, a.link-reg:hover, a.link-reg:active {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:green; 
	color:#FFFFFF;
	display:inline-block;
	font-size:12px;
	height:27px;
	line-height:28px;
	text-align:left;
	width:130px;
	text-decoration: none;
}
.welcome .reg .link-reg strong {
	color:#FFFFFF;
	float:none;
	font-size:16px;
	font-weight:400;
	margin:0 10px 0 16px;
	padding:0;
}

.welcome .login {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E9EEF2;
	float:right;
	font-size:14px;
	height:134px;
	width:300px;
}
.clearfix {
	display: block;
}
.article {
	float: left;
	padding-right: 40px;
	width: 590px;
}


#content {
	min-height: 420px;
}
h1 {
	color: #494949;
	display: block;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.1;
	margin: 0;
	padding: 0 0 15px;
}
h2 {
	color: #006600;
	font: 14px/150% Arial,Helvetica,sans-serif;
	margin: 0 0 12px;
}
h3 {
	color: #666666;
	font: 14px/150% Arial,Helvetica,sans-serif;
	margin-bottom: 1px;
	margin-left: 4px;
	height: 26px;
}
table {
	border: medium none;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border-spacing: 0;
}
.topic-content .topic-doc {
	float: right;
	margin-bottom: 30px;
	width: 520px;
}
.topic-content .topic-doc h3 {
	background: none repeat scroll 0 0 transparent;
	height: auto;
	margin: 0;
	padding: 5px 0;
}
.color-green {
	color: #006600;
}
.pl20 {
	padding-left: 20px;
}
.infobox {
	margin-bottom: 20px;
	table-layout: fixed;
	width: 100%;
}
.tablelt {
	background: url("http://t.douban.com/pics/ibox.gif") repeat scroll 0 0 transparent;
	height: 3px;
	width: 3px;
}
.tablect {
	background: url("http://t.douban.com/pics/tablev.gif") repeat scroll 0 0 transparent;
	height: 3px;
}
.tablert {
	background: url("http://t.douban.com/pics/ibox.gif") repeat scroll right top transparent;
	height: 3px;
	width: 3px;
}
.tablelc {
	background: url("http://t.douban.com/pics/tableh.gif") repeat scroll 0 0 transparent;
	width: 3px;
}
.tablecc {
	background: none repeat scroll 0 0 #FFF6EE;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 6px;
}
.tablerc {
	background: url("http://t.douban.com/pics/tableh.gif") repeat scroll right center transparent;
	width: 3px;
}
.tablelb {
	background: url("http://t.douban.com/pics/ibox.gif") repeat scroll 0 bottom transparent;
	height: 3px;
	width: 3px;
}
.tablecb {
	background: url("http://t.douban.com/pics/tablev.gif") repeat scroll left bottom transparent;
	height: 3px;
}
.tablerb {
	background: url("http://t.douban.com/pics/ibox.gif") repeat scroll right bottom transparent;
	height: 3px;
	width: 3px;
}
.topic-content .topic-doc p {
	margin: 0;
	overflow: hidden;
	padding: 0;
	word-wrap: break-word;
}
body, td, th {
	font: 12px/162% Arial,Helvetica,sans-serif;
}
ul {
	list-style: none outside none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
}
a:link {
	color: #336699;
	text-decoration: none;
}
a:visited {
	color: #666699;
	text-decoration: none;
}
.topic-reply li {
	margin: 0 0 20px 48px;
	clear: both;
}
.topic-content .user-face, .topic-reply .user-face {
	float: left;
	height: 48px;
	width: 48px;
	overflow: hidden;
}
.topic-reply .reply-doc {
	float: right;
	width: 473px;
	margin: 0;
	padding: 0;
}
.bg-img-green {
	background: url("http://t.douban.com/pics/topicbar.gif") no-repeat scroll 0 0 transparent;
	display: block;
}
.topic-reply .reply-doc h4 {
	height: 22px;
	line-height: 22px;
	margin: 0 0 15px 4px;
	overflow: hidden;
	color: #666666;
}
.topic-reply .reply-doc p {
	margin: 0 0 25px;
	overflow: hidden;
	word-wrap: break-word;
}
.pl2 {
	color: #666666;
	font: 14px/150% Arial,Helvetica,sans-serif;
}
.aside .indent {
	margin-bottom: 25px;
}
.ul {
	border-bottom: 1px dashed #DDDDDD;
	clear: both;
	line-height: 100%;
}
.pl {
	color: #666666;
	font: 12px/150% Arial,Helvetica,sans-serif;
}
.css1 {
	font-size: 1.0em;
}
.css2 {
	font-size: 1.2em;
}
.css3 {
	font-size: 1.4em;
}
.css4 {
	font-size: 1.6em;
}
.olt {
	margin-bottom: 3px;
	padding: 0;
	width: 100%;
}
.olt td {
	border-bottom: 1px dasshed #DDDDDD;
	padding: 3px 3px 3px 0;
}
.olt td.time {
	color: #999999;
	padding-right: 0;
	text-align: right;
	width: 110%;
}




