<h1>Change your password</h1>
<% form_for(@user, :url => { :action => "changepassword", :id => @user.id }) do |f| %>
	<div id="content">
		<div class="clearfix">
			<div class="article">
				<br />
				<br />
				<div style="padding-left: 50px;">
					<span class="m">Your current password:</span>
					<br />
					<input type="password" value="" maxlength="20" length="10" name="old_password"
					<br />
					<br />
					<span class="m">Your new password:</span>
					<br />
					<%= f.password_field :password , :length => 10, :maxlength => 20 %>
					<br />
					<br />
					<span class="m">Enter again:</span>
					<br />
					<%= f.password_field :password_confirmation , :length => 10, :maxlength => 20 %>
					<br />
					<br />
					<%= f.submit "Change" %>
				</div>
			</div>

			<div id="aside">
				<p class="pl2">&gt;some title</p>
				<br />
			
			</div>
			<div id="extra">
	
			</div>
		</div>
	</div>
<% end %>